<!doctype html> {%load static%}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>SAMSUNG M51</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">YOUR EMOTION ANALYSER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="card mb-3" style="max-width: 640;margin-top: 80px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{% static 'image/samsung2.jpg' %}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Samsung Galaxy M51 (Electric Blue, 8GB RAM, 128GB Storage)<br>₹ 25499.00</h2>
                    <p class="card-text">
                        <li>6 GB RAM | 128 GB ROM |</li>
                        <li>Expandable Upto 512 GB</li>
                        <li>6.95 cm (6.7-inch) sAMOLED Plus - Infinity-O display FHD+</li>
                        <li>64MP + 12MP + 5MP + 5MP | 32MP Front Camera</li>
                        <li>7000 mAh Lithium-ion Polymer Battery</li>
                        <li>Qualcomm Snapdragon 730G Processor</li>
                        <li>ONE UI</li>
                    </p>
                    <form action="/analyze5" method="get">
                        <div class="form-group">
                            <label for="Textarea" style="color: blue;font-family: Arial, Helvetica, sans-serif;">GIVE YOUR REVIEW</label>
                            <textarea name='text' class="form-control " id="Textarea " rows="3 "></textarea><br>
                            <button type="submit" class="btn btn-primary ">SUBMIT</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>

</html>