<!doctype html> {%load static%}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Speaker</title>
</head>

<body>
    <style>
        body {
            background-image: url("{% static 'image/bgimage.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">YOUR EMOTION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://www.facebook.com/games/?fbs=-1&app_id=275254692598279">Contact us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    </div>
    <div class="card-deck" style="margin: 50px 10px 10px 10px;">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/zeb.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Zebronics ZEB-BT 6590 RUCF 65 W</h5>
                <p class="card-text">
                    <h3>₹3699.00</h3>
                </p>
                <a href="zebra" class="btn btn-primary">GIVE REVIEW</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/philips.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Philips MMS2625B/94 38 W</h5>
                <p class="card-text">
                    <h3>₹3000.00</h3>
                </p><br>
                <a href="philips" class="btn btn-primary">GIVE REVIEW</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/sonymusic.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sony SA-D40 80 W</h5>
                <p class="card-text">
                    <h3>₹8900.00</h3>
                </p><br><br><br><br><br>
                <a href="sonymusic" class="btn btn-primary">GIVE REVIEW</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/saregama.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Saregama Carvaan Premium</h5>
                <p class="card-text">
                    <h3>₹6999.00</h3>
                </p>
                <a href="saregama" class="btn btn-primary">GIVE REVIEW</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/baotstone.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">boAt Stone 190F 5 W</h5>
                <p class="card-text">
                    <h3>₹999.99</h3>
                </p><br>
                <a href="boatmusic" class="btn btn-primary">GIVE REVIEW</a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>